h1 {
    color: white;
    font-size: 100%;
    text-align: center;
}

body {
    background-color: black;
}

h2 {
    color: white;
    font-size: 100%;
    text-align: center;
}

#il {
    width: 25%;
    margin-left: 40%;
}

#ul {
    width: 25%;
    margin-left: 40%;
}
