h1 {
    color: white;
    font-size: 100%;
    text-align: center;
}

body {
    background-color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: oblique;
}

h2 {
    color: white;
    font-size: 100%;
    text-align: center;
}

#il {
    width: 25%;
    margin-left: 40%;
    
}

#ul {
    width: 25%;
    margin-left: 40%;
}

#al {
    width: 25%;
    margin-left: 40%;
}

h3 {
    color: white;
    font-size: 100%;
    text-align: center;
}

p {
    color: chocolate;
    font-size: 200%;
    text-align: center;
}

h4 {
    color: blueviolet;
    font-size: 300%;
    text-align: center;
}